@page "/contacts"
@layout MainLayout
@inherits Crm.Pages.ContactsComponent

@using Radzen
@using Radzen.Blazor
@using Crm.Models.Crmdata
@using Microsoft.AspNetCore.Identity;
@using Crm.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
<PageTitle>Contacts</PageTitle>
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Contacts">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenSplitButton Icon="get_app" style="margin-bottom: 10px; margin-left: 10px" Text="Export" Click="@Splitbutton0Click">
          <ChildContent>
            <RadzenSplitButtonItem Text="Excel" Value="xlsx">
            </RadzenSplitButtonItem>
            <RadzenSplitButtonItem Text="CSV" Value="csv">
            </RadzenSplitButtonItem>
          </ChildContent>
        </RadzenSplitButton>
        <RadzenTextBox Placeholder="Search ..." style="display: block; margin-bottom: 10px; width: 100%" Name="Textbox0" @oninput="@(async(args) => {search = $"{args.Value}";await grid0.GoToPage(0);await grid0.Reload();})">
        </RadzenTextBox>
        <RadzenDataGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Count="@getContactsCount" Data="@getContactsResult" FilterMode="Radzen.FilterMode.Advanced" TItem="Crm.Models.Crmdata.Contact" PageSize="20" Responsive="true" LoadData="@Grid0LoadData" RowDoubleClick="@Grid0RowDoubleClick">
          <Columns>
            <RadzenDataGridColumn TItem="Crm.Models.Crmdata.Contact" Property="Id" Title="Id">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Crm.Models.Crmdata.Contact" Property="Email" Title="Email">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Crm.Models.Crmdata.Contact" Property="Company" Title="Company">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Crm.Models.Crmdata.Contact" Property="LastName" Title="Last Name">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Crm.Models.Crmdata.Contact" Property="FirstName" Title="First Name">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Crm.Models.Crmdata.Contact" Property="Phone" Title="Phone">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Crm.Models.Crmdata.Contact" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="70px">
              <Template Context="crmModelsCrmdataContact">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, crmModelsCrmdataContact))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenDataGridColumn>
          </Columns>
        </RadzenDataGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
